
@{
    ViewData["Title"] = "Index";
}

<h1>Online Sales Review</h1>
<hr/>

<table>
    <tr>
        <td> @Html.Partial("BarChartView")</td>
        <td> @Html.Partial("TopTenCustomersView")</td>
        <td> @Html.Partial("ProfitLossView")</td>
    </tr>
</table>


