
@{
    ViewData["Title"] = "Index";
}

<h1>Today Products for sale</h1>
<hr/>
<ol>
 
    @{
        //List<Product> products = ViewBag.Products;
        //List<Product> products = (List< Product>)ViewData["Products"];
        //List<Product> products = ViewData["Products"] as List<Product>;

        List<Product> products = TempData["Products"] as List<Product>;

        foreach (Product product in products)
        {
            <li> @product.Name </li>
        }
    }
      
    
    
</ol>

<a href="/products/list">Show List</a>






 